.header {
    background-color: #899DBA;
    height: 10em;
}
.header div {
    font-size: 5em;
    margin: 0 auto;
    }
.login {
justify-content: right;
align-items: flex-end;
align-content: flex-end;
    }
#login {
    width: 3em!;
    height: 2em!;
}
#logOut{
    height: 1em!;
    width: 1em!;
}
#icon {
    font-size: 6em;
}