input{
width: 20em;
}
.warning {
    border: 2px solid red;
}
.error{
    color:red;
    font-size: 1em;
}
.formError{
    margin-top: 2em;
    border: 1px red solid;
    color: red;
    font-size: 1em;
}
